/* ==========================================================================
   Comments responsive styles
   ========================================================================== */

#qodef-page-comments {

	@include qodefScreenSize1024() {
		margin-bottom: 30px;
	}
}

#qodef-page-comments-list {

	@include qodefScreenSize1024() {

		.qodef-comment-item {

			.children {
				padding-left: 40px;
			}
		}
	}

	@include qodefScreenSize768() {

		.qodef-comment-item {

			.children {
				padding-left: 20px;
			}

			.qodef-e-content-top {
				align-items: flex-start;
			}

			.qodef-e-title-date {
				flex-direction: column-reverse;
			}
		}
	}

	@include qodefScreenSize680() {

		.qodef-comment-item {

			.qodef-e-inner {
				flex-wrap: wrap;
			}

			.qodef-e-content {
				margin-top: 23px;
			}

			.children {
				padding-left: 3%;
			}

			//.qodef-e-content-top {
			//	flex-direction: column;
			//}
		}
	}
}
