/* ==========================================================================
   Global CSS variables
   ========================================================================== */

:root {
	--qode-main-color: #aeb89b;
	--qode-header-light-color: #ffffff;
	--qode-header-light-hover-color: #dadfd1;
	--qode-header-dark-color: #000000;
	--qode-header-dark-hover-color: #aeb89b;
}
