/* ==========================================================================
   WooCommerce widgets static styles
   ========================================================================== */

.widget {

	// common - legacy and block combined
	.qodef-woo-ratings {
		@include qodefRatingsStyle();

		margin: 0;
	}

	.price {
		@include qodefWooPriceStyle();

		font-size: 22px;
		margin: 0;
	}

	&.woocommerce {

		// common - legacy
		.qodef-woo-product-title {
			@include qodefWooLabelsHeadingStyle($with-color: false);

			margin: 0;
		}

		a {

			.product-title {
				@include qodefWooLabelsHeadingStyle($with-color: false);
			}
		}

		.button,
		.woocommerce-widget-layered-nav-dropdown__submit {
			@include qodefWooButtonsStyle();
		}

		// widgets w/ image - legacy
		&.widget_products,
		&.widget_recently_viewed_products,
		&.widget_top_rated_products {

			ul {

				li {
					display: flex;
					position: relative;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.qodef-woo-product-image {
				flex-shrink: 0;

				a,
				img {
					display: block;
					object-fit: cover;
					position: relative;
				}
			}

			.qodef-woo-product-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		// recent reviews - legacy
		&.widget_recent_reviews {

			ul {

				li {

					.reviewer {
						margin-top: 8px;
					}

					&:last-child {
						margin-bottom: 0;
					}

					> * {
						display: block;
					}
				}
			}

			a {
				@include qodefWooLabelsHeadingStyle();

				position: relative;

				img {
					left: 0;
					object-fit: cover;
					position: absolute;
					top: 0;
				}
			}
		}

		// layered nav - legacy
		&.widget_layered_nav {

			button {
				margin-top: 10px;
			}
		}
	}

	// price filter - legacy and block common
	$slider-handle-size: 13px;
	$slider-rail-height: 3px;
	$slider-bottom-margin: 26px;

	@mixin qodefWooSliderHandle() {
		background-image: none;
		border: none;
		border-radius: 100%;
		height: $slider-handle-size;
		margin: 0;
		outline: none;
		position: relative;
		top: -#{($slider-handle-size - $slider-rail-height) / 2};
		width: $slider-handle-size;

		&:hover {
			@include qodefWooSliderHandleFocus();
		}
	}

	@mixin qodefWooSliderHandleFocus() {
		transform: scale(1.1);
	}

	// price filter - legacy
	&.widget_price_filter {

		.price_slider_wrapper {

			.ui-widget-content {
				border-radius: 0;
				cursor: pointer;
				height: $slider-rail-height;
				position: relative;

				.ui-slider-handle {
					border-radius: 100%;
					height: $slider-handle-size;
					outline: none;
					position: absolute;
					top: -#{($slider-handle-size - $slider-rail-height) / 2};
					width: $slider-handle-size;
					z-index: 2;

					&:last-of-type {
						transform: translateX(-#{$slider-handle-size});
					}
				}

				.ui-slider-range {
					border-radius: 0;
					display: block;
					height: 100%;
					position: absolute;
					z-index: 1;
				}
			}
		}

		.price_slider_amount {
			align-items: flex-start;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			margin: $slider-bottom-margin 0 0 0;
			position: relative;

			.clear {
				display: none;
			}
		}
	}

	// price filter - block
	.wc-block-components-price-slider {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		.wc-block-components-price-slider__range-input-wrapper {
			box-shadow: none;
			height: $slider-rail-height;
			margin: calc((#{$slider-handle-size} / 2)) 0;
			width: 100%;
		}

		.wc-block-components-price-slider__range-input-progress {
			height: $slider-rail-height;
		}

		// can’t comma-separate these type of selectors
		.wc-block-components-price-slider__range-input {

			&::-webkit-slider-thumb {
				@include qodefWooSliderHandle();
			}

			&::-moz-range-thumb {
				@include qodefWooSliderHandle();
			}

			&::-ms-thumb {
				@include qodefWooSliderHandle();
			}

			&:focus {

				&::-webkit-slider-thumb {
					@include qodefWooSliderHandleFocus();
				}

				&::-moz-range-thumb {
					@include qodefWooSliderHandleFocus();
				}

				&::-ms-thumb {
					@include qodefWooSliderHandleFocus();
				}
			}
		}

		.wc-block-components-price-slider__controls,
		.wc-block-components-price-slider__range-text {
			align-items: flex-start;
			margin: $slider-bottom-margin auto 0 0;

			input {
				margin: 0;
			}

			span {

				&:first-child {

					&:after {
						content: '—';
						margin: 0 4px;
					}
				}
			}
		}

		.wc-block-components-price-slider__actions {
			margin: $slider-bottom-margin 0 0 0;
			order: 100;

			button {
				@include qodefWooButtonsStyle(!important);
			}
		}
	}

	// categories - block
	.wc-block-product-categories-list--has-images {
		margin: 0;

		.wc-block-product-categories-list-item {

			a {
				@include qodefWooLabelsHeadingStyle($with-color: false);
			}
		}

		.wc-block-product-categories-list-item__image {
			vertical-align: top;

			img {
				object-fit: cover;
			}
		}
	}
}

/* ==========================================================================
   WooCommerce widgets variable styles
   ========================================================================== */

@import '../../../../../../assets/css/scss/widgets-map';

$woo-widgets-area-map: (
	'': (
		product-title-color: $black,
		product-title-hover-color: $gray,
		price-filter-base-color: $additional-background-color,
		price-filter-active-color: var(--qode-main-color),
		star-rating-color: var(--qode-main-color),
	),
);

$woo-widgets-area-map-merged: non-destructive-map-merge($wp-widgets-area-map, $woo-widgets-area-map);

@each $key, $values in $woo-widgets-area-map-merged {
	$wp-widgets-map-merged: map-merge($wp-widgets-map, $values);

	#{$key} .widget {

		// common - legacy and block combined
		.qodef-m-star {
			@if (map-get($wp-widgets-map-merged, 'star-rating-color') != null) {
				color: map-get($wp-widgets-map-merged, 'star-rating-color') !important;
			}
		}

		&.woocommerce {

			// common - legacy
			.qodef-woo-product-title {

				a {
					@if (map-get($wp-widgets-map-merged, 'product-title-color') != null) {
						color: map-get($wp-widgets-map-merged, 'product-title-color') !important;
					}

					&:hover {
						@if (map-get($wp-widgets-map-merged, 'product-title-hover-color') != null) {
							color: map-get($wp-widgets-map-merged, 'product-title-hover-color') !important;
						}
					}
				}
			}

			a {

				.product-title {
					@if (map-get($wp-widgets-map-merged, 'product-title-color') != null) {
						color: map-get($wp-widgets-map-merged, 'product-title-color') !important;
					}
				}

				&:hover {

					.product-title {
						@if (map-get($wp-widgets-map-merged, 'product-title-hover-color') != null) {
							color: map-get($wp-widgets-map-merged, 'product-title-hover-color') !important;
						}
					}
				}
			}

			// shopping cart - legacy
			&.widget_shopping_cart {
				flex-direction: column;
				align-items: flex-start;

				.widget_shopping_cart_content {
					width: 100%;
				}

				.qodef-widget-title {
					margin-bottom: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
				}
			}

			// layered nav - legacy
			&.widget_layered_nav {

				form { // can't tell if widget is list or w/ form, apply bottom margin from title to first element below as top margin
					margin-top: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
				}

				ul {

					li {

						&.chosen {

							a {
								@if (map-get($wp-widgets-map-merged, 'link-hover-color') != null) {
									color: map-get($wp-widgets-map-merged, 'link-hover-color');
								}
							}
						}
					}
				}
			}

			// widgets w/ image - legacy
			&.widget_products,
			&.widget_recently_viewed_products,
			&.widget_top_rated_products {

				.qodef-widget-title {
					margin-bottom: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
				}

				ul {

					li {
						margin-bottom: #{map-get($wp-widgets-map-merged, 'list-item-with-thumbnail-bottom-margin')}px;
					}
				}

				.qodef-woo-product-image {
					margin-right: #{map-get($wp-widgets-map-merged, 'thumbnail-right-margin')}px;

					img {
						width: #{map-get($wp-widgets-map-merged, 'thumbnail-width')}px;
						height: #{map-get($wp-widgets-map-merged, 'thumbnail-height')}px;
					}
				}
			}

			// recent reviews - legacy
			&.widget_recent_reviews {

				.qodef-widget-title {
					margin-bottom: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
				}

				ul {

					li {
						min-height: #{map-get($wp-widgets-map-merged, 'thumbnail-height')}px;
						margin-bottom: #{map-get($wp-widgets-map-merged, 'list-item-with-thumbnail-bottom-margin')}px;

						> * {
							padding-left: #{map-get($wp-widgets-map-merged, 'thumbnail-width') + map-get($wp-widgets-map-merged, 'thumbnail-right-margin')}px;
						}
					}
				}

				a {

					&:hover {
						@if (map-get($wp-widgets-map-merged, 'link-hover-color') != null) {
							color: map-get($wp-widgets-map-merged, 'link-hover-color');
						}
					}

					img {
						width: #{map-get($wp-widgets-map-merged, 'thumbnail-width')}px;
						height: #{map-get($wp-widgets-map-merged, 'thumbnail-height')}px;
					}
				}
			}
		}

		// price filter - legacy
		&.widget_price_filter {

			.qodef-widget-title {
				margin-bottom: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
			}

			.price_slider_wrapper {

				.ui-widget-content {
					@if (map-get($wp-widgets-map-merged, 'price-filter-base-color') != null) {
						background-color: map-get($wp-widgets-map-merged, 'price-filter-base-color')
					}

					.ui-slider-handle {
						@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
							background-color: map-get($wp-widgets-map-merged, 'price-filter-active-color')
						}
					}

					.ui-slider-range {
						@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
							background-color: map-get($wp-widgets-map-merged, 'price-filter-active-color')
						}
					}
				}
			}

			.price_label {
				@if (map-get($wp-widgets-map-merged, 'button-color') != null) {
					color: map-get($wp-widgets-map-merged, 'button-color')
				}
			}
		}

		// price filter - block
		.wp-block-woocommerce-price-filter {

			.wc-block-price-filter__title {
				margin-bottom: #{map-get($wp-widgets-map-merged, 'widget-title-margin') + map-get($wp-widgets-map-merged, 'widget-title-adjusted-margin')};
			}
		}

		.wc-block-components-price-slider {

			.wc-block-components-price-slider__range-input-wrapper {
				@if (map-get($wp-widgets-map-merged, 'price-filter-base-color') != null) {
					background: map-get($wp-widgets-map-merged, 'price-filter-base-color');
				}
			}

			.wc-block-components-price-slider__range-input-progress {
				@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
					--range-color: #{map-get($wp-widgets-map-merged, 'price-filter-active-color')};
				}
			}

			// can’t comma-separate these type of selectors
			.wc-block-components-price-slider__range-input {

				&::-webkit-slider-thumb {
					@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
						background-color: map-get($wp-widgets-map-merged, 'price-filter-active-color')
					}
				}

				&::-moz-range-thumb {
					@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
						background-color: map-get($wp-widgets-map-merged, 'price-filter-active-color')
					}
				}

				&::-ms-thumb {
					@if (map-get($wp-widgets-map-merged, 'price-filter-active-color') != null) {
						background-color: map-get($wp-widgets-map-merged, 'price-filter-active-color')
					}
				}
			}

			.wc-block-components-price-slider__range-text {
				@if (map-get($wp-widgets-map-merged, 'button-color') != null) {
					color: map-get($wp-widgets-map-merged, 'button-color')
				}
			}
		}

		&.widget_block {

			// common - block
			.price {
				justify-content: center;
			}
		}

		// categories - block
		.wc-block-product-categories-list--has-images {

			.wc-block-product-categories-list-item {
				margin-bottom: #{map-get($wp-widgets-map-merged, 'list-item-with-thumbnail-bottom-margin')}px !important;
				margin-left: #{map-get($wp-widgets-map-merged, 'thumbnail-width') + map-get($wp-widgets-map-merged, 'thumbnail-right-margin')}px !important;

				a {
					@if (map-get($wp-widgets-map-merged, 'link-color') != null) {
						color: map-get($wp-widgets-map-merged, 'link-color');
					}

					&:hover {
						@if (map-get($wp-widgets-map-merged, 'link-hover-color') != null) {
							color: map-get($wp-widgets-map-merged, 'link-hover-color');
						}
					}
				}

				&__image {
					margin: 0 #{map-get($wp-widgets-map-merged, 'thumbnail-right-margin')}px 0 -#{map-get($wp-widgets-map-merged, 'thumbnail-width') + map-get($wp-widgets-map-merged, 'thumbnail-right-margin')}px !important;
					max-width: initial !important;
					width: #{map-get($wp-widgets-map-merged, 'thumbnail-width')}px !important;
					height: #{map-get($wp-widgets-map-merged, 'thumbnail-height')}px !important;

					img {
						width: #{map-get($wp-widgets-map-merged, 'thumbnail-width')}px !important;
						height: #{map-get($wp-widgets-map-merged, 'thumbnail-height')}px !important;
					}
				}
			}
		}
	}
}
